body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;   
}

.header-logo {
    margin-left: 200px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    margin-bottom: 60px;
    
}
 
.resize {
    width: 125px;
    height: auto;
}

.part1 {
    background-color: #1f2937;
    padding-left: 125px;
    padding-right: 130px;
    padding-bottom: 70px;
}

.right-header {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 32px;
    margin-right: 300px;
    flex:1 1 1;
    align-items: center;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-second {
    font-size: 18px;
    color: #e5e7eb;
    position: relative;
    top: -18px;
}


.left-image {
    display: flex;
    margin-right: 130px;
    width: 800px;
    margin-left: 80rem;
    position:relative;
    top: -10rem;
    right: 1rem;
}
    
.resize1 {
    width: 800px;
    height: auto;
}

.content {
    display: flex;
    width: 600px;
    margin-left: 150px;
    position: relative;
    top: 7rem;
}


.btn {
    background-color: #3882f6;
    border: 1px solid royalblue;
    color: white;
    padding: 10px 36px;
    border-radius: 8px;
    font-weight: 900;
    font-size: 16px;
    position: relative;
    top: -12px;
}

.btn:hover {
    color: rgb(201, 201, 201);
}

.part2 {
    background-color: #f9faf8;
    margin-left: -130px;
    margin-right: -130px;
    margin-bottom: -30px;
    padding-bottom: 200px;
   
}

.info {
    display:flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 2rem;
    margin-bottom: 1rem;
}

.pc-images {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.graphics-card,
.mother-board,
.hard-drive,
.virus {
    width: 200px;
    height: 200px;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.image-text {
    display: flex;
    justify-content: center;
    gap: 16px;
    
   
}

ul {
    list-style-type: none;   
}

.GPU {
    font-size: 22px;
    position: relative;
    right: 170px;
    bottom: 10px;
}

.MOBO {
    font-size: 22px;
    position: relative;
    right: 55px;
    bottom: 10px;
    
}

.HDD {
    font-size: 22px;
    position: relative;
    left: 60px;
    bottom: 10px;
    
    
}

.VIR {
    font-size: 22px;
    position: relative;
    left: 150px;
    bottom: 10px;
    
}

.mon {
    display: flex;
    justify-content: center;
}

.vr { 
    display: flex;
    justify-content: center;
}

.mon1 {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 28px;
    left: 2px;
}

.part3 {
    background-color: #e5e7eb;
    margin-left: -130px;
    margin-right: -130px;
    padding-bottom: 200px;
    padding-top: 200px;

}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    width: 1400px;
    


}

.emp {
    font-size: 28px;
    color: #1f2937;
    font-weight: 500;
    padding-left: 65rem;
    
}

.pc-quote {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.part4 {
    background-color:#3882f6;
    padding: 60px;
    margin: 120px 350px 10px 350px;
    border-radius: 1rem;
    position: relative;
    bottom: 420px;
    
}


.call {
    display: flex;
    position: relative;
    right: -150px;
    width: 300px;
    font-size: 18px;
    font-weight: 700;
    color:#f9faf8
}

.sign {
    color: rgb(222, 222, 222);
    position: relative;
    right: -150px;
    top: 5px;
    width: 700px;
}

.signup {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 30px 5px 30px;
    position: relative;
    left: 70rem;
    bottom: 20px;
}

.copyright {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: -300px;
    position: relative;
    top: 30px;
    
}

.white {
    background-color: white;
    margin-left: -130px;
    margin-right: -130px;
    padding: 200px;
}